<!DOCTYPE HTML>
<html>
    <header>
        <title>Pipe - Log In</title>
        <link rel="stylesheet" href="../static/login_styles.css">
    </header>

    <body>
        <div class="container">
            <div class="navbar">
                <h1>PIPE</h1>
                <ul id="nav-list">
                    <li> <a href="#home">Home</a></li>
                    <li> <a href="#about">About</a></li>
                    <li> <a href="/login">Log In</a></li>
                </ul>
            </div>

            <form class="container margin">
                <label for="first_name">First Name</label>
                <input type="text" class="input-field invalid-button" value=""> 
                <label for="last_name">Last Name</label>
                <input type="text" class="input-field invalid-button" value=""> 
                <label for="uid">Enter a username</label>
                <input type="text" class="input-field invalid-button" value=""> 
                <label for="pwd">Enter a Password</label>
                <input type="password" id="delay" class="input-field valid-button"> 
                <button id="receive_button" class="container button long-button disabled-button" type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>
