<!DOCTYPE HTML>
<html>
    <head>
        <title>BCML</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>

    <body>
        <div class="bg"></div>
        <div class="container">
            <div class="navbar">
                <h1>BCML</h1>
                <ul id="nav-list">
                    <li> <a href="#home">Home</a></li>
                    <li> <a href="#about">About</a></li>
                    <li> <a href="/login_a">Log In</a></li>
                </ul>
            </div>
        <div class="container flex-center margin">
            <a href="/create_account">
                <div class="join">
                    <p>Become an Investor or Loaner</p>
                </div>
            </a>
        </div>
        </div>

    </body>
</html>
